* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: ivory;
}

.header-container {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}
nav ul {
    display: flex;
    list-style: none;
    gap: 3rem;
    margin-top: 1.3rem;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 0.7rem;
    font-size: 2.6rem;
}

.search-container {
    position: relative;
    width: 260px;
}

.search-container input[type="text"] {
    width: 100%;
    padding: 22px 5px 22px 20px;
    font-size: 1.5rem;
    border: none;
    border-radius: 30px;
    background: lightgray;
}

.search-container i {
    position: absolute;
    right: 2px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2.2rem;
    color: black;
}

.cover {
    position: relative;
    background-image: url('daisy.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 560px;
    padding-top: 40rem;
    padding-left: 26rem;
}

.cover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.15);
    z-index: 1;
}

.cover * {
    position: relative;
    z-index: 2;
}
.cover h1 {
    font-size: 10rem;
    color: white;
    text-shadow: 3px 5px 7px black;
}

.cover p {
    font-size: 3rem;
    text-align: left;
    margin-top: 1rem;
    margin-right: 85rem;
    color: white;
    text-shadow: 7px 7px 10px black;
}

.weather {
    padding: 6rem  8rem 8rem;
    margin: 6rem auto 3rem;
    width: 75rem;
    text-align: center;
    background: lightgray;
    border-radius: 10px;
}

.weather h2 {
    font-size: 4.5rem;
    margin-bottom: 1rem;
}

.weather p {
    font-size: 1.2rem;
    margin-bottom: 4rem;
    color: gray;
}

.weatherDetection button {
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 3rem;
    background: olivedrab;
    font-size: 1rem;
    color: white;
    margin-right: 3rem;
}

.weatherDetection input {
    padding: 1rem;
    border: 1px solid black;
    border-radius: 3rem;
    width: 20%;
    font-size: 1rem;
}

.weatherDetection i {
    font-size: 1.5rem;
    margin-left: 1rem;
}

.weatherInfo {
    padding: 4rem 8rem 8rem;
    margin: 0 auto 4rem;
    width: 70%;
    text-align: center;
    background: gainsboro;
    border-radius: 10px;
}

.weatherInfo h3 {
    font-size: 3rem;
}

.weatherDetails {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    gap: 6rem;
}

.weatherDetails img {
    width: 15rem;
}

.weatherDetails h4 {
    font-size: 4.5rem;
    font-weight: normal;
}

.weatherDetails p {
    font-size: 2rem;
}